{% extends "base.html" %}
{% load static%}




{% block title %} Site{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/index/site-detail-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/site-detail-decoration.css' %}">
    <link rel="stylesheet" href="{% static 'css/patterns/banner/banner-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/patterns/banner/banner-skin.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

     <style>
      #map { 
        height: 180px;
        width: 100%;
        position: absolute;
        z-index: 1;
      }

      .site-card{
        position: relative;
        background-color: transparent;
        display: none;
      }

      
     </style>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
 
 </script>
{% endblock style %}



{% block main %}
<section class="banner banner--skin">
  <div id="map" class="card__background_map">

  </div>
    <div class="card site-card site-card--skin">
        <div class="card__header card__header--skin">
            <p class="card__location card__location--skin">
                Riacho de Santana - RN
            </p>
            <button type="button" class="card__expand-button card__expand-button--skin">
               <p>Expandir</p>
               <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-200v-240h80v160h160v80H200Zm480-320v-160H520v-80h240v240h-80Z"/></svg>
            </button>
        </div>

        <div class="card__body card__body--skin">
            
        </div>
    </div>
    <div class="weather-advice-band band">
        <figure class="band__figure band__figure--skin">
            <img src="" alt="" srcset="">
        </figure>
        <div class="band__description band__description--skin">
            <small class="band__description__location">

            </small>
            <p class="band__description__name">
              <span></span>
            </p>
            <p class="band__description__created_by">
              
            </p>
        </div>
    </div>
</section>

      
{% endblock main %}
{% block scripts %}
 <script>
  var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([51.5, -0.09]).addTo(map)
    .bindPopup('A pretty CSS popup.<br> Easily customizable.')
    .openPopup();
 </script>
{%endblock%}