{% extends "base.html" %}
{% load static%}


{% block title %} Koltagri{% endblock title %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/landplots/sites-layout.css'%}">
<link rel="stylesheet" href="{% static 'css/landplots/sites-skin.css'%}">
<style>


.results-section-container{
    height: fit-content;
    gap: 10px;
        
}
    @media (max-width: 767px) {
        .filter-options{ margin-top: 20px;}
        #id_name{display: none;}
}
@media (min-width: 768px) {
    .results-section-container{flex-flow: row-reverse;}
    .site-filters{ min-width: 200px; max-width: 300px; width: auto; padding-inline: 10px;}
    .sites-result{padding-right: 27px;}
}
.sites-result{
    flex: 1;
    
}

.long-card{
        display: flex;
        flex-flow: row;
        align-items: center;
        }
.long-card{
    background: white;
    border-radius: 10px;
    height: 88px;
}
.long-card__icon{
    width: 48px;
    height: 48px;
    margin-inline: 16px;
}
.long-card__description{
    flex: 1;
}

.filter-options{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

.filter-options > *{
    display: flex;
    gap: 6px;
    min-width: 100px;
    width: auto;
    max-width: 120px;
    height: 44px;
    align-items: center;
    justify-content: space-evenly;
    padding-inline:10px;
}

.btn-filter--skin{
    background-color: white;
}
.btn-filter{
    border-radius: 10px;
}

.site-filters{
    height: fit-content;

}

#id_name{
    background-color: white;
    height: 44px;
    border-radius: 10px;
    padding-left: 16px;
    color: gray;
    display: none;
}
</style>



{% endblock style %}
 



{% block main %} 
<div class="results-section-container">
    <section class="site-filters">
        
        <form method="get" class="site-filter-form">
  <div class="form-group">
    <label for="id_name" style="display: none;">Nome do site</label>
    {{ filter.form.name }}
  </div>

  <div class="form-group">
    <label for="id_country">País</label>
    {{ filter.form.country }}
  </div>

  <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        
    </section>

<section class="sites-result sites-result--skin">
   {% for site in sites %}
    <div class="site-long-card long-card long-card-skin" onclick="">
        <figure class="long-card__icon long-card__icon--skin">
            <img src="{% static 'imgs/sites/farm.png'%}" alt="" srcset="">
        </figure>
        <div class="long-card__description long-card__description--skin">
        <small class="long-card__description__site_location">
            Riacho de Santana - RN
        </small>
        <p class="long-card__description__site_name"><span>
            {{site.name}}
        </span></p>
        <p class="long-card__description__site_status">
            Criado por: Pedro Pascal
        </p>
        </div>
        <div class="long-card__options long-card__options--skin">
            
            <p></p>
        </div>
    </div>
   {% endfor %}
</section>
</div>

{% endblock main %}

{% block scripts%}
<script>
document.getElementById("header-form").addEventListener("submit", function(e) {
  e.preventDefault(); // não deixa o header enviar sozinho
  
  // pega o valor digitado no header
  const searchValue = document.getElementById("search").value;

  // joga no campo "name" do form principal (django-filter)
  document.getElementById("id_name").value = searchValue;

  // submete o form principal
  document.querySelector(".site-filter-form").submit();
});
</script>

{% endblock scripts %}